@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {

  li,
  span {
    @apply text-[15px] font-normal
  }
}

@layer components {
  .btn {

    @apply text-lg font-normal px-10 py-2.5 rounded-[11px] flex justify-between items-center;
  }

  .hero-heading {
    color: #FFF;
    text-align: center;
    text-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.75);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2.4px;
  }

  .sub-heading {
    @apply text-black text-[15px] font-bold leading-[20px] tracking-[0.45px];
  }

  .heading1 {
    @apply text-secondary text-[2em] font-bold leading-[88px] tracking-[1.8px];

  }

  .text-shadow {
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  }

  @media (min-width: 1024px) {
    .heading1 {
      font-size: 3.75em;
    }

    @media (min-width: 640px) {
      .heading1 {
        font-size: 3.75em;
      }
    }
  }
}

body {
  color: #000;
  background: #FFF;
}